google-cloud-datacatalog>=3.16.0
google-cloud-dataplex>=1.13.0
google-cloud-bigquery>=3.11.4
google-cloud-storage>=2.34.0
google-cloud-bigquery-datapolicies>=0.6.16
PyYAML>=6.0
python-dotenv>=1.0.0


